body, html {
	height: 100%;
	width: 100%;
	display: block;
	
}

body::after {
  content: "";
  background: url("http://www.alo.rs/resources/images/0000/025/063/01_1000x0.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.pitanje {

	text-align: center;
	margin-top: 20px;

}


.btn-primary, .btn-danger {

	width: 200px;
	border-radius: 15px;
	
}

.btn-primary {

	margin-top: 50px;
	margin-left: 350px;
}

.btn-danger {

	margin-left: 750px;
	margin-top: -37px;
	position: absolute;
}
